.messageContainer {
  display: flex;

  padding: 24px 96px;

  border: 0.05rem solid #d9d9e32e;
  box-sizing: border-box;

  .text {
    line-height: 18px;
    white-space: pre-wrap;
    padding: 0px 96px;
  }
}
.bot {
  background-color: #f7f7f8;
}
.user {
  background-color: #ffffff;
}
