.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 100%;

  padding: 0 8px;
  background-color: #202123;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0;

    .newButton {
      display: flex;
      align-items: center;

      height: 44px;
      width: 174px;
      padding-left: 12px;

      color: white;
      border: 0.05rem solid #4d4d4f;
      border-radius: 6px;
      cursor: pointer;

      span {
        height: 16px;
        line-height: 16px;
        font-size: 14px;

        padding-left: 12px;
      }
    }

    .closeButton {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 44px;
      width: 44px;

      color: white;
      border: 0.05rem solid #4d4d4f;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .conversations {
    height: 100%;

    border-bottom: 1px solid #4d4d4f;
    overflow: auto;

    .date {
      padding: 8px 0px 8px 12px;

      font-size: 12px;
      font-weight: 600;
      color: #8e8ea0;
    }
    .conversation {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 20px;
      padding: 12px 12px;

      font-weight: 400;
      font-size: 15px;
      color: #e1e1e6;
      border-radius: 8px;

      cursor: pointer;

      span {
        width: 170px;
        margin: 0 12px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &:hover {
        background-color: #34354175;
      }
      &.active {
        background-color: #343541c8;
        span {
          width: 130px;
        }
      }
      .button {
        cursor: pointer;
        transition: 0.2s;

        margin: 0 4px;

        &:hover {
          stroke: white;
        }
      }
    }
  }

  .footer {
    padding: 8px 4px;

    .profile {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 36px;
      padding: 12px 8px;

      border-radius: 6px;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: #34354175;
      }
      span {
        width: 140px;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
